paper-item.core-selected {
  color: #ff4081;
}
core-drawer-panel /deep/ core-icon {
  color: rgba(0, 0, 0, 0.54);
}
core-toolbar {
  color: #FFF;
}
.main-label {
  font-size: 24px;
  padding: 0 0 20px 60px;
}
core-menu#menu {
  padding: 8px 0;
  margin: 0;
}
core-menu#menu paper-item {
  padding-left: 28px;
}
.menu-wrapper {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  padding-bottom: 48px;
  min-height: 100%;
  width: 100%;
}
.legal {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-top: 1px solid #e0e0e0;
  bottom: 0;
  font-size: 13px;
  height: 48px;
  line-height: 24px;
  padding: 12px 0;
  position: absolute;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}
.legal p {
  margin: 0;
}
.muted {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}
#drawerPanel [main] {
  background-color: #EEE;
}
#drawerPanel [main] core-toolbar {
  background-color: #3f51b5;
}
#drawerPanel [drawer] {
  background-color: #FFF;
}
#drawerPanel [drawer] core-toolbar {
  background-color: #303f9f;
}
#drawerPanel:not([narrow]) ::content .menuButton {
  display: none;
}
paper-icon-button.menuButton core-icon {
  fill: #FFF;
}
